
/*banner*/
#banner{
	position: relative;
}
#banner img{
	width: 100%;
	height: auto
}
#banner .contactForm{
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	bottom:10px;
	width: 280px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	display: none;
}
.contactForm .title{
	color: #fff;
	background-color: #f8b62c;
	text-align: center;
	padding:10px 0;
	font-size: 16px;
	font-weight: bold;
}
.contactForm .base{
	display: flex;
	justify-content: space-between;
	margin:10px 0;
	padding:0 15px;
	margin-bottom: 20px;
}
.contactForm .base input{
	border-bottom: 1px solid #ccc;
	width: 110px;
}
.contactForm .choosebox{
	display: flex;
	flex-direction: column;
	padding:0 15px;
}
.contactForm .choosebox .item{
	border:1px solid #ccc;
	margin-bottom: 20px;
	padding:5px;
}
.contactForm .choosebox .item select,.choosebox .item input{
	width: 100%
}
.contactForm .btn_box{
	padding:0 15px;

}
.contactForm .btn_box button{
	width: 100%;
	padding:5px 0;
	margin-bottom: 15px;
}
.contactForm .btn_box #subbtn,.contactForm .btn_box #subbtn2{
	background-color: #fbb03b;
	color: #fff;
	border:1px solid #faa31a;
	border-radius:10px;
}
.contactForm .btn_box #cancelbtn,.contactForm .btn_box #cancelbtn2{
	background-color: transparent;
	color: #cacaca;
}
.conbox .iconbox .item{
	text-align: center;
	margin-top: 20px;
}
.conbox .iconbox .item img{
	max-width: 150px;
}
.conbox .iconbox .item p{
	color: #727171;
	font-weight: bold;
}
.enfonts{
	font-family: "enfonts"
}
.en_nav{
	padding: 5px;
	text-align: center;
	color: #fff;
	text-align: center;
	background-color: #f39800;
	font-size: 30px;
}
/*发展历程*/
#develop{
	min-height: 200px;
	background-image: url("../img/develop_bg.jpg");
	background-size: 100%;
}
.itembox .item{
	width: 20%;
	float: left;
	text-align: center;
	padding:10px 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
#develop .itembox{
	margin-bottom: 20px;
}
#develop .itembox .item{
	position: relative;
	margin:100px 0;
}
#develop .itembox .item>div{
	vertical-align: bottom;
	width: 80%;
}
#develop .itembox .item .num{
	font-size: 34px;
    color: #727171;
    font-weight: bold;
    position: absolute;
    top:-50px;
    left:50%;
    transform: translateX(-50%);
}
#develop .itembox .item:nth-child(2n) .num{
	top:50px;
	color: #f39800;
}
#develop .itembox .item .line{
	height: 15px;
	width: 100%;
	background-color: #727171;
	margin:10px 0;
	position: relative;
	z-index: 9;
}
#develop .itembox .item:first-child .line{
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
#develop .itembox .item:last-child .line{
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
#develop .itembox .item .line:after{
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 5px;
	transform: rotate(45deg);
	background-color: #727171;
	position: absolute;
	top:3px;
	left:50%;
	margin-left: -10px;
	z-index: 1
}
#develop .itembox .item .desc{
	font-size: 16px;
	padding:0 20px;
	color: #727171;
	position: absolute;
	height: 110px;
	top:-50px;
	left:50%;
    transform: translate(-50%,100%);
}
#develop .itembox .item:nth-child(2n) .desc{
	top:-200px;
}
#develop .itembox .item:nth-child(2n) .line{
	background-color: #f39800;
}
#develop .itembox .item:nth-child(2n) .line:after{
	background-color: #f39800;
	top:-8px;
}
/*企业荣誉*/
#honor{
	background-color: #f39800;
}
#honor .conbox{
	margin-bottom: 10px;
}
#honor .conbox h2,#success .conbox h2,#team .conbox h2{
	color: #fff;
}
#honor .conbox p.icon,#success .conbox p.icon,#team .conbox p.icon{
	width: 100%;
	font-size: 12px;
	color: #fff;
	text-align: center;
}
#honor .conbox p.icon span,#success .conbox p.icon span,#team .conbox p.icon span{
	display: inline-block;
	width: 5px;
	height: 5px;
	background-color: #fff;
	border-radius: 100%;
	margin:0 3px;
}
#honor .banner{
	width: 100%;
	position: relative;
}
#honor .swiper-container{
	width: 90%;
}
#honor .swiper-slide{
	border-radius: 4px;
	text-align: center;
}
#honor .swiper-slide img{
	width: 90%;
}
#honor .z-prev,#honor .z-next{
	position: absolute;
    top: 50%;
    margin-top: -22px;
    font-size: 60px;
    color: #fff;
    z-index: 10;
}
#honor .z-prev{
	left:0px;
}
#honor .z-next{
	right:0px;
}

/*企业文化*/
#culture .conbox .iconbox .item h5{
	font-size: 30px;
	font-weight:bold;
	margin-top: 15px;
}
#culture .conbox .iconbox .item p{
	color: #727171;
	max-width: 165px;
	text-align: center;
	margin:0 auto;
	font-size: 18px;
	font-weight: initial;
}
/*留学服务产品*/
#service{
	background-image: url("../img/servicebg.jpg");
	background-size: 100% auto; 
	margin:0px auto;
}
#service .item{
	padding:10px;
	box-sizing: border-box;
	cursor: pointer;
}
#service .item .boxs{
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 5px #ccc;
	background-color: #fff;
}
#service .item img{
	width: 100%;
}
#service .item .desc{
	padding:10px
}
#service .item .desc p{
	font-weight: bold;
}
#service .item .desc p>span{
	color: #f39800;
}
#service .item .obj_button{
	display: none;
}
#service .item .obj_button button{
	background-color: #f39800;
	color: #fff;
	
}
/*微留学体验*/
#small_overseas{
	background: url("../img/overseasbg.png") no-repeat;
	background-size: 100%; 
	margin:0px auto;
}
#small_overseas .over_item{
	padding:10px;
}
#small_overseas .overbox{
	max-width: 300px;
	background-color: rgba(255,255,255,.6);
	text-align: center;
	padding:20px 0;
	margin:0 auto;
	color: #727171;
}
#small_overseas .overbox h5{
	font-size: 30px;
	font-weight: bold;
}
#small_overseas .overbox p{
	font-size: 18px;
}
/*专业服务*/
#major{
	 padding-bottom: 35px;
}
#major .major_box{
	height: 230px;
	padding:0 10px;
	background-color: #fff;
	border:1px dashed #727171;
	border-radius: 10px;
	margin:0 auto;
	margin-top: 66px;
	position: relative;
	margin-bottom: 50px;
}
#major .major_box .items{
	width: 14.28%;
	float: left;
	margin-top: -51px;
	text-align: center;
}
#major .major_box .items .icon,#major .major_box .items h3,#major .major_box .items ul{
	background-color: #fff;
}
#major .major_box .items .icon{
	width: 68%;
	margin:0 auto;
	position: relative;
}
#major .major_box .items .icon span.fa{
	position: absolute;
    left: 2px;
    top: 42px;
    color: #727171;
    font-size: 18px;
}

#major .major_box .items .icon img{
	width: 100%;
}
#major .major_box .items h3{
	margin-top: 10px;
	font-weight: bold;
}
#major .major_box .items ul li{
	margin-bottom: 5px;
	font-size: 14px;
	color: #727171;
	width: 90%;
	margin:0 auto;
}
#major .major_box .bottomdesc{
	width: 600px;
	display: inline-block;
	position: absolute;
	left:50%;
	bottom:-19px;
	transform: translateX(-50%);
	text-align: center;
	background-color: #fff;
	padding:0 10px;
}
#major .major_box .bottomdesc img{
	width: 100%;
}
#major .major_box .bottomdesc span.fa{
	position: absolute;
	right:-1px;
	color: #727171;
    font-size: 18px;
    top:9px;
}
/*提前规划*/
#plan{
	background-color: #efefef;
}
.plan_con{
	background-color: #f39800;
    border-radius: 35px;
    padding: 5px 35px;
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 850px;
    padding-right: 5px;
}
.plan_con .pcon-left{
	color: #fff;
	font-size:26px; 
	font-weight: bold;
	margin:20px;
	padding:0 15px;
}
.plan_con .pcon-left li{
	margin-bottom: 8px;
	cursor: pointer;
}
.plan_con .pcon-left li.active{
	font-size: 30px;
	border-bottom: 2px solid #fff;
}
.plan_con .pcon-right{
	background-color: #fff;
	padding:10px;
	flex: 1;
	padding-left: 20px;
	display: none;
	padding-right: 35px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
}
.plan_con .pcon-right .pitem{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	position: relative;
	z-index: 3
}
.plan_con .pcon-right .pitem>p{
	color: #3e3a39;
	font-size: 18px;
	position: relative;
	padding-left: 8px;
	margin-right: 10px;
	margin-bottom: 0px;
}
.plan_con .pcon-right .pitem>p:before{
	content: "";
	display: inline-block;
	height: 16px;
	width: 2px;
	background-color: #3e3a39;
	margin-right: 5px;
	position: absolute;
	left:0;
	top:50%;
	margin-top: -8px;
}
.plan_con .pcon-right .pitem .line{
	width: 100px;
	height: 1px;
	background-color: #f39800;
	position: relative;
}
.plan_con .pcon-right .pitem .line:before{
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #f39800;
	border-radius: 100%;
	position: absolute;
	left:0;
	top:50%;
	margin-top: -3px;
}
.plan_con .pcon-right .pitem .desc{
	display: inline-block;
	padding:8px;
	border:1px solid #f39800;
	border-radius: 16px;
	font-size: 16px;
}
.plan_con div.active{
	display: block;
}
#plan .time{
	position: absolute;
	right:10px;
	bottom: 10px;
	z-index: 1;
}
#plan .time img{
	width: 150px;
}
/*成功案例*/
#success{
	background: url("../img/successbg.png") no-repeat;
	background-size: 100%; 
}
.success_item .s_img{
	width: 20%;
	float: left;
	text-align: center;
	margin-top: 20px;
}
.success_item .s_img img{
	width: 90%;
}
/*名师团队*/
#team{
  background: url("../img/teambg.jpg") no-repeat;
  background-size: 100%; 
}
#team .conbox .txtbox .txt-title,#success .conbox .txtbox .txt-title{
	color: #fff;
}
/*精彩活动*/
#photoWall{
	background-color: #efefef;

}
.photo_wall{
	width: 100%;
	padding-bottom: 20px;
}
.photo_wall .cen1>div{
	width: 25%;
	float: left;
}
.photo_wall .cen2>div{
	width: 33.333%;
	float: left;
}
.photo_wall .cen1 img,.photo_wall .cen2 img{
	width: 100%;
}
/*合作院校*/
.partnerlist>div{
	width: 20%;
	float: left;
	margin-bottom: 10px;
	text-align: center;
}
.partnerlist>div img{
	width: 80%;
}
.partnerlist>div p{
	text-align: center;
	margin-top: 5px;
	color: #727171;
	font-size: 16px;
}

/*培训模态框*/
#train_modal .contactForm{
	display: block;
	position: inherit;
}
#train_modal .contactForm .title{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}