#menulist{
	border-top: 1px solid #f39800;
	background-color: #f8f8f8;
}
.menulistbox{
	display: flex;
	padding:0;
}
#menulist .left{
	background-color: #f29700;
	color: #fff;
	position: relative;
}
#menulist .left .topall{
	font-size: 18px;
	font-weight: bolder;
	background-color:#f7b52d; 
	padding:5px 10px;
}
#menulist .left .list li{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:5px 10px;
	border-bottom: 1px solid #fff;
	cursor: pointer;

}
#menulist .left .list li .txt{
	flex:1;
	padding-bottom: 5px;
	padding-top: 5px;
	min-width: 160px;
	margin-right: 15px;
}
.left .list li .txt h6{
	font-size: 18px;
	margin:0;
}
.left .list li .txt p{
	margin-bottom: 0px;
}
.left .list li .txt p span{
	font-size: 12px;
	margin-right: 10px;
}
.left .list li .icon span{
	font-size: 20px;
}
#menulist .left .listmenu {
	position: absolute;
	right:-3px;
	background-color: #fff;
	z-index: 10;
	top:38px;
	min-width: 800px;
	transform: translateX(100%);
	box-shadow: 0 0 5px 0 #ccc;
	display: none;
	cursor: pointer;
}
.listmenu ul{
	margin-bottom: 0px;
}

.listmenu ul li{
	color: #999898;
	height: 60px;
	line-height: 60px;
	padding-left:10px;
	border-top: 1px solid #ccc;
}
.listmenu ul li:first-child{
	border-top: none;
}
.listmenu ul li a{
	display: inline-block;
	margin-right: 15px;
	color: #999898;
}
.listmenu ul li a:hover{
	color: #f39800;
}
#menulist .center{
	width: 100px;
	flex: 1;
	background-color:#fff;
	display: flex;
	flex-direction:column;
	padding-left: 20px;
	box-sizing: border-box;
	min-height: 540px;
}
.center .top ul{
	height: 35px;
	line-height: 35px;
	margin-bottom:0px;
	
}
.center .top ul li{
	float: left;
	margin-right: 10px;
	padding-top: 15px;
	min-width: 100px;
	text-align: center;
	position: relative;
}
	/*热门图标*/
.center .top i{
	width: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.center .top i img{
	width: 100%;
}
.center .bottom{
	border:1px solid #f29700;
	flex:1;
	height: 487px;
	overflow: hidden;
}
.center .bottom img{
	width: 100%;
	height: 487px;
}
#bottom_swiper .swiper-pagination-bullet-active{
	background: #f39800;
}
.center .top a{
	color: #3e3a39;
}
.center .top a:hover{
	color: #f39800;
}

#menulist .right{
	background-color: #eee;
	width: 300px;
	margin-top: 35px;
	text-align: center;
	padding:0 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
#menulist .right form>div{
	margin-top: 15px;
}
#menulist .right form #getcodebtn{
	background-color: #f0ad4e;
    color: #fff;
}
#menulist .left ul{
	margin-bottom: 0px;
}
#menulist .left li.active{
	background-color: #e95514;
}
#bannerbg{
	background-image: url("../img/stepbanner6.png");
	background-size: 100% 100%; 
	padding:60px 0;
	padding-bottom: 80px;
}
#bannerbg img{
	width: 100%;
}
/*雅思托福课程简介*/
#bannerbg .yasi-tuofu,#bannerbg .oversea-enbase,#bannerbg .stepmatch,#bannerbg .lunwrite,#bannerbg .internal{
	display: none;
}
#bannerbg .yasi-tuofu .yasi_items>div{
	margin-top: 20px;
}
/*海外英语基础*/
.oversea-enbase .overseas-item{
	display: none;
}
.over_item{
	padding:10px;
}
.overbox{
	width: 80%;
	background-color: rgba(255,255,255,.8);
	text-align: center;
	padding:20px 0;
	margin:0 auto;
	color: #727171;
	min-height: 156px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overbox h5{
	font-size: 26px;
	font-weight: bold;
}
.overbox p{
	font-size: 14px;
}
/*剑桥*/
#bannerbg .stepmatch{
	text-align: center;
}
#bannerbg .stepmatch h1{
	display: inline-block;
	font-size: 20rem;
    font-weight: bold;
    padding-bottom: 5px;
    position: relative;
}
#bannerbg .stepmatch h1:before{
	content: "";
	width:40%;
	height: 2px;
	background-color: #fff;
	display: inline-block;
	position: absolute;
	left:0;
	bottom:-0.8rem;
}
#bannerbg .stepmatch h1:after{
	content: "";
	width:40%;
	height: 2px;
	background-color: #fff;
	display: inline-block;
	position: absolute;
	right:0;
	bottom:-0.8rem;
}
#bannerbg .stepmatch h1 span{
	width:20px;
	height: 20px;
	background-color: #fff;
	display: inline-block;
	position: absolute;
	left: 50%;
    bottom: -1.5rem;
    border-radius: 100%;
    margin-left: -10px;
}
#bannerbg .stepmatch h2{
	font-size: 10rem;
}
/*论文写作*/
#bannerbg .lunwrite{
	padding-top: 60px;
}
#bannerbg .lunwrite .img_icon{
	margin-bottom: 30px;
}
#bannerbg .lunwrite .img_icon img{
	width: 100px;
}
#bannerbg .lunwrite{
	font-size: 7rem;
}
#bannerbg .lunwrite .white{
	color: #fff;
}
#bannerbg .lunwrite .zhuse{
	color: #f39800;
}
/*国际课程*/
#bannerbg .internal .internal_con{
	width: 850px;
	background-color: rgba(255,255,255,.6);
	padding:50px;
	margin:0 auto;
	border-radius: 10px;
}
#bannerbg .internal .internal_con span{
	font-size: 24px;
	margin-bottom: 20px;
	margin-right: 25px;
	color: #727171;
}

/*课程简介*/
.indexs5{
	display: none;
}
#classbase .con-item{
	padding-top:20px;
}
#classbase .con-item .item{
	font-size: 16px;
	color: #3e3938;
	margin-bottom: 20px;
}
#classbase .con-item .item span.fa{
	color: #f39800;
	margin-right: 8px;
	font-size: 20px;
}
#classbase .con-item .item>div{
	margin-bottom: 8px;
}
/*品牌优势*/

.brand_item .item{
	width: 20%;
	float: left;
	padding:0 10px;
	box-sizing: border-box;
	text-align: center;
}
.brand_item .item .con{
	width: 80%;
	min-height: 100px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 #7f7c7c;
	margin:20px auto;
	text-align: center;
	padding:15px 0;
}
.brand_item .item .con img{
	height: 65px;
	width: auto
}
.brand_item .item .con h5{
	font-size: 22px;
	font-weight: bold;
	color: #494544;
	margin-top: 15px;
}
.brand_item .item .con p{
	font-size: 16px;
	color: #727171;
	padding:10px 20px;
	padding-top: 0;
}


/*高分学员*/
#student{
	background-color: #eee;
	background: url("../img/hign_scorebg.jpg") no-repeat;
	background-size: 100% auto; 

}
#student .student_item>div{
	text-align: center;
	margin-top: 20px;
}
#student .student_item img{
	width: 100%;
	max-width: 300px;
}
/*校区地址*/
#school_address{
	background-color: #f2f2f2;
}
#school_address .conitem{
	width: 928px;
	margin:0 auto;
	margin-top:20px;
}
#school_address .conitem>div{
	margin-bottom: 10px;
	float: left;
	display: inline-block;
}
#school_address .conitem .info-item{
	margin-right: 20px;
}

#school_address .info-item .title{
	background-color: #dbdcdc;
	padding:5px 10px;
	font-size: 20px;
}
#school_address .info-item .con{
	padding:5px 10px;
	border-bottom: 2px solid #dbdcdc;
}
