.bannerbg img{
	width: 100%;
	height: auto
}
#sketch img{
	width: 100%;
}
#case{
	background-image: url("../img/casebg.jpg");
	background-size: 100%;
}
#casebanner {
	position: relative;
	width: 900px;
	margin: 0 auto
}

#casebanner .swiper-container {
	padding-bottom: 60px;
}

#casebanner  .swiper-slide {
	width: 520px;
	height: 408px;
	background: #fff;
	box-shadow: 0 8px 30px #ddd;
	
}
#casebanner  .swiper-slide img{
	display:block;
	width: 100%;
}
#casebanner  .swiper-slide p {
	line-height: 98px;
	padding-top: 0;
	text-align: center;
	color: #636363;
	font-size: 1.1em;
	margin: 0;
}

#casebanner .swiper-pagination {
	width: 100%;
	bottom: 20px;
}

#casebanner .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;
	border: 3px solid #fff;
	background-color: #d5d5d5;
	width: 10px;
	height: 10px;
	opacity: 1;
}

#casebanner .swiper-pagination-bullets .swiper-pagination-bullet-active {
	border: 3px solid #00aadc;
	background-color: #fff;
}

#casebanner .swiper-button-prev {
	left: -30px;
	width: 45px;
	height: 45px;
	background: url(../img/wm_button_icon.png) no-repeat;
	background-position: 0 0;
	background-size: 100%;
}

#casebanner .swiper-button-prev:hover {
	background-position: 0 -46px;
	background-size: 100%
}

#casebanner .swiper-button-next {
	right: -30px;
	width: 45px;
	height: 45px;
	background: url(../img/wm_button_icon.png) no-repeat;
	background-position: 0 -93px;
	background-size: 100%;
}

#casebanner .swiper-button-next:hover {
	background-position: 0 -139px;
	background-size: 100%
}

#ceshi .con_box{
	width: 520px;
	height: auto;
	margin:0 auto;
	background-color: #fff;
	border:1px solid #f39800;
}
#ceshi .con_box .c_title{
	background-color: #f39800;
	color: #fff;
	text-align: center;
	font-weight: 650;
	padding:8px 0;
}
#ceshi .con_box .c_title p{
	font-size: 26px;
}
#ceshi .con_box .c_center>div{
	width: 50%;
	float: left;
	box-sizing: border-box;
}
#ceshi .con_box .c_center>div:last-child{
	border-left: 2px solid #f39800;
}
#ceshi .con_box .c_center h4{
	text-align: center;
}
#ceshi .con_box .c_center h4 span{
	display: inline-block;
	background-color: #f39800;
	color: #fff;
	padding:5px 10px;
}
#ceshi .con_box .c_center .txt{
	padding:10px;
	font-size: 16px;
}
#ceshi .con_box .c_center .txt p{
	font-size: 16px;
}
#ceshi .con_box .c_bottom{
	border-top: 2px solid #f39800;
}
#ceshi .con_box .c_bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	padding:10px 0;
}
#ceshi .con_box .c_bottom .b_title{
	width: 100px;
	text-align: center;
}
#ceshi .con_box .c_bottom .b_title span{
	display: inline-block;
	background-color: #f39800;
	color: #fff;
	padding:5px 10px;
	font-size: 16px;
}
#ceshi .con_box .c_bottom .txt{
	width: 280px;
	font-size: 16px;
}