.bannerbg{
	position: relative;
}
.bannerbg img{
	width: 100%;
	height: auto
}
.bannerbg .banner_content{
	position: absolute;
	top:50%;
	left:10%;
	height: 80%;
	transform: translateY(-50%);
}
.banner_content,.banner_content a{
	color: #fff;
}
.banner_content .en-name,.banner_content .en-name2{
	font-size: 5rem;
}
.banner_content .zh-name,.banner_content .zh-name2{
	font-size: 8rem;
	font-weight: bolder;
}
.banner_content .btnbox{
	margin:34px 0;
	font-size: 34px;
}
.banner_content .btnbox button{
	padding:5px 20px;
	background-color: #fff;
	color: #f39800;
	border-radius: 20px;
	box-shadow: 0 0 10px 0 #f39800;
}
.banner_content .bmenu{
	font-size: 20px;
    margin-top: 120px;
}
.banner_content .bmenu .item{
	margin-bottom: 10px;
}
.banner_content .bmenu .item p{
	display: inline-block;
	padding-top: 20px;
	margin-right: 30px;
	font-size: 26px;
}
.banner_content .bmenu .item a{
	text-decoration: none;
}
.banner_content .bmenu .item a:hover{
	font-weight: bold;
	font-size: 30px;
}
/*申请简述*/
/*#sketch img{
	width: 100%;
}*/
#sketch{
	background: url("../img/sketch1.jpg") no-repeat;
	background-size: 100% 100%; 
}
#sketch .conbox{
	width: 850px;
	background-color: rgba(255,255,255,0.8);
	margin: 0 auto;
	padding:20px 30px;
	border-radius: 15px;
}
#sketch .s_con{
	margin-top: 20px;
}
#sketch .s_con .item{
	margin-bottom: 20px;
}
#sketch .s_con .item>div{
	float: left;
}
#sketch .s_con  .Four_item>div{
	width: 25%;

}
#sketch .s_con .item>div h6{
	font-size: 18px;
	font-weight: bold;
}
#sketch .s_con .item>div h6 span{
	padding-bottom: 3px;
	border-bottom: 2px solid #f39800;
}
#sketch .s_con .item>div p{
	color: #727171;
	font-size: 16px;
	margin-top: 15px;
}
/*经典案例*/
#case{
	background-image: url("../img/casebg.jpg");
	background-size: 100%;
}
.casebanner {
	position: relative;
	width: 900px;
	margin: 0 auto
}

.casebanner .swiper-container {
	padding-bottom: 60px;
}

.casebanner  .swiper-slide {
	width: 520px;
	background: #fff;
	box-shadow: 0 8px 30px #ddd;
	
}
.casebanner  .swiper-slide img{
	display:block;
	width: 100%;
}
.casebanner  .swiper-slide p {
	padding-top: 0;
	font-size: 1.1em;
}

.casebanner .swiper-pagination {
	width: 100%;
	bottom: 20px;
}

.casebanner .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;
	border: 3px solid #fff;
	background-color: #d5d5d5;
	width: 10px;
	height: 10px;
	opacity: 1;
}

.casebanner .swiper-pagination-bullets .swiper-pagination-bullet-active {
	border: 3px solid #00aadc;
	background-color: #fff;
}

.casebanner .swiper-button-prev {
	left: -30px;
	width: 45px;
	height: 45px;
	background: url(../img/wm_button_icon.png) no-repeat;
	background-position: 0 0;
	background-size: 100%;
}

.casebanner .swiper-button-prev:hover {
	background-position: 0 -46px;
	background-size: 100%
}

.casebanner .swiper-button-next {
	right: -30px;
	width: 45px;
	height: 45px;
	background: url(../img/wm_button_icon.png) no-repeat;
	background-position: 0 -93px;
	background-size: 100%;
}

.casebanner .swiper-button-next:hover {
	background-position: 0 -139px;
	background-size: 100%
}
#case{
	background-color: #ddd;
}
#case .con_box{
	width: 520px;
	height: auto;
	margin:0 auto;
	background-color: #fff;
}
#case .con_box .c_title{
	background-color: #f39800;
	color: #fff;
	text-align: center;
	font-weight: 650;
	padding:8px 0;
}
#case .con_box .c_title p{
	font-size: 26px;
}
#case .con_box .c_center>div{
	width: 50%;
	float: left;
	box-sizing: border-box;
}
#case .con_box .c_center>div:last-child{
	border-left: 2px solid #f39800;
}
#case .con_box .c_center h4{
	text-align: center;
}
#case .con_box .c_center h4 span{
	display: inline-block;
	background-color: #f39800;
	color: #fff;
	padding:5px 10px;
}
#case .con_box .c_center .txt{
	padding:10px;
	font-size: 16px;
}
#case .con_box .c_center .txt p{
	font-size: 16px;
}
#case .con_box .c_bottom{
	border-top: 2px solid #f39800;
}
#case .con_box .c_bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	padding:10px 0;
}
#case .con_box .c_bottom .b_title{
	width: 100px;
	text-align: center;
}
#case .con_box .c_bottom .b_title span{
	display: inline-block;
	background-color: #f39800;
	color: #fff;
	padding:5px 10px;
	font-size: 16px;
}
#case .con_box .c_bottom .txt{
	width: 280px;
	font-size: 16px;
}
/*学生感言*/
#student_say{
	background: url(../img/studentsaybg.jpg) no-repeat;
	background-size: 100% 100%;
}

#student_say .saycon{
	width: 900px;
	margin:0 auto;
	text-align: center;
	position: relative;
}
#student_say .saycon img{
	width: 100%;
}
#student_say .saycon .location{
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 100px;
}
#student_say .saycon .canada_location{
	left: 132px;
    top: 42px;
    width: 103px;
    height: 128px;
}
#student_say .saycon .usa_location{
	left: 155px;
    top: 173px;
    width: 103px;
    height: 112px;
}
#student_say .saycon .uk_location{
	left: 415px;
    top: 126px;
    width: 103px;
    height: 117px;
}
#student_say .saycon .newpo_location{
	right: 201px;
    bottom: 208px;
    width: 103px;
    height: 109px;
}
#student_say .saycon .aus_location{
	right: 103px;
    bottom: 126px;
    width: 103px;
    height: 80px;
}
#student_say .saycon .location .item{
	position: absolute;
	top: -150px;
    left: -26px;
	background-color: #fff;
	padding:15px;
	width: 500px;
	box-shadow: 0 0 10px 0 #666;
	text-align: left;
	z-index: 66;
	margin-left: -250px;
	display: none;
}
#student_say .saycon .location .active{
	display: block;
}
#student_say .saycon .location .item .top>div{
	float: left;
}
#student_say .saycon .location .item .img_box{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	overflow: hidden;
	margin-right: 20px;
}
#student_say .saycon .location .item .img_box img{
	width: 100%;
}
.location .item .top{
	margin-bottom: 15px;
}
.location .item .info .name-school{
	font-weight: bold;
	margin-bottom: 5px;
}
.location .item .info .name{
	font-size: 30px;
}
.location .item .info .school{
	font-size: 24px;
}
.location .item .info p{
	color: #727171;
	margin-bottom: 0px;
	font-size: 18px;
}
.location .item .info p:first-of-type{
	text-decoration: underline;
	font-size: 22px;
}
.location .item .bottom{
	font-size: 22px;
	position: relative;
	padding:10px 0px;
	padding-bottom: 0px;
	
}
.location .item .bottom p{
	text-indent: 2em;
	margin-bottom: 0px;
}
.location .item .bottom strong{
	color: #f39800;
	font-size: 60px;
	font-weight: bold;
	position: absolute;
	
}
.location .item .bottom strong:nth-child(1){
	left:0;
	top:-14px;
}
.location .item .bottom strong:nth-child(2){
	right:0;
	bottom: -45px;
}
 /*方向线*/
.location .item .line{
	display: inline-block;
    position: absolute;
    bottom: -37px;
    left: 50%;
    transform: translateX(-50%);
    width: 125px;
    height: 36px;
    border: 1px dashed #727171;
    border-right: 0;
    border-top: 0;
}
#student_say .saycon .usa_location .item:nth-child(1){
	top: -206px;
    left: -45px;
}
#student_say .saycon .usa_location .item:nth-child(2){
	top: 133px;
    left: 214px;
}
#student_say .saycon .usa_location .item:nth-child(2) .line{
	bottom: 189px;
    left: -19px;
    width: 36px;
    height: 113px;
}
#student_say .saycon .uk_location .item:nth-child(1){
	top: -158px;
    left: 353px;
}
#student_say .saycon .uk_location .item:nth-child(1) .line{
    width: 100px;
    height: 100px;
    bottom: 16px;
    left: -50px;
    border-top: 1px dashed #727171;
    border-bottom: 0;
}
#student_say .saycon .uk_location .item:nth-child(2){
	top: 158px;
    left: 0px;
}
#student_say .saycon .uk_location .item:nth-child(2) .line{
    width: 34px;
    height: 62px;
    bottom: 243px;
    left: 240px;
    border-top: 1px dashed #727171;
    border-bottom: 0;
}
#student_say .saycon .newpo_location .item:nth-child(1){
	top: -260px;
    left: 200px;
}
#student_say .saycon .newpo_location .item:nth-child(1) .line{
    width: 69px;
    height: 127px;
    bottom: -128px;
    left: 174px;
    border-bottom: 1px dashed #727171;
    border-right: 1px dashed #727171;
    border-left: 0;
}
#student_say .saycon .aus_location .item:nth-child(1){
	top: -337px;
    left: 30px;
}
#student_say .saycon .aus_location .item:nth-child(1) .line{
    width: 39px;
    height: 127px;
    bottom: -128px;
    left: 260px;
    
}
#student_say .saycon .aus_location .item:nth-child(2){
	top: -18px;
    left: -308px;
}
#student_say .saycon .aus_location .item:nth-child(2) .line{
    width: 119px;
    height: 35px;
    bottom: 122px;
    left: 560px;
    border-bottom: 1px dashed #727171;
    border-right: 1px dashed #727171;
    border-left: 0;
    
}